@(branchList: List[models.Branch], user: User)(implicit request: RequestHeader)

@import models.EntityBranch._

    @branches(entityBranches: List[EntityBranch], userId: Int) = @{
        entityBranches.filter(_.entity.assignments.exists(_.userId == userId))
    }

    @allUsers(entityBranches: List[EntityBranch]) = @{
        entityBranches.flatMap(_.entity.assignments).map(x => (x.userId, x.fullName)).distinct
    }

@defining(branchesToEntityBranches(branchList)) { entityBranches =>



    <ul class="nav nav-pills nav-stacked">
        <li class="active">
            <a href="#">All branches
                <span class="badge pull-right">@branchList.length</span>
            </a>
        </li>
        <li>
            <a href="#">
                My branches
                <span class="badge pull-right">@branches(entityBranches, user.tpId).length</span>
            </a>
        </li>
        <hr>
        @for((userId, fullName) <- allUsers(entityBranches) if userId != user.tpId) {
            <li>
                <a href="#">@fullName
                <span class="badge pull-right">@branches(entityBranches, userId).length</span>
                </a>
            </li>
        }
    </ul>
}