@(branchList: List[models.Branch], loggedUser: User)(implicit request: RequestHeader)

@import models.EntityBranch._

    @branches(entityBranches: List[EntityBranch], userId: Int) = @{
        entityBranches.filter(_.entity.assignments.exists(_.userId == userId))
    }

    @allUsers(entityBranches: List[EntityBranch]) = @{
        entityBranches.flatMap(_.entity.assignments).map(a => (a.userId, a.fullName, a.avatar) ).distinct.sortBy(_._2)
    }

@defining(branchesToEntityBranches(branchList)) { entityBranches =>



    <ul class="nav nav-pills nav-stacked">
        <li class="active">
            <a href="#">All branches
                <span class="badge pull-right">@branchList.length</span>
            </a>
        </li>
        <li>
            <a href="#">
                My branches
                <span class="badge pull-right">@branches(entityBranches, loggedUser.tpId).length</span>
            </a>
        </li>
        <hr>
        @for((userId, fullName,avatar) <- allUsers(entityBranches) if userId != loggedUser.tpId) {
            <li>
                <a href="#"><img src="@{avatar}30"> @fullName
                <span class="badge pull-right">@branches(entityBranches, userId).length</span>
                </a>
            </li>
        }
    </ul>
}