logs
project/project
project/target
target
tmp
.history
dist
/.idea
/*.iml
/out
/.idea_modules
/.classpath
/.project
/RUNNING_PID
/.settings

.cache
bin/*
.target/
.worksheet/
app/worksheets/
/mongo/
conf/dev.conf
conf/prod.conf
.idea
node_modules/grunt-contrib-watch/
node_modules/grunt-typescript/
node_modules/grunt/
public/javascripts/all.js
public/javascripts/all.js.map
data/*
/artifacts/
node_modules/
public/javascripts/bower_components/
public/javascripts/bower-components/
