.category-list {
    width: 380px;
    font-size: 12px;
}

.category-list__item {
    padding: 5px 0;
}

.category-list__name {
    padding: 0 0 0 38px;
    font-weight: bold;
    color: rgba(0,0,0,0.4);
}

.category-list__parameters {

    padding: 0 0 0 48px;
    white-space: normal;
}

.category-list__parameters__item {
    display: inline-block;
    width: 130px;
    padding: 2px 0;
}

.category-list__parameters__param {
    display: block;
    width: 130px;
    padding: 2px 0;
}

.category-list__checkbox{
    position: relative;
    top:2px;

}

.dropdown-menu{
    overflow: hidden;
    max-height: 600px;
    max-width: 300px;
}
.custom-parts-build {
    position: relative;
    overflow: hidden;
}
.custom-parts-build_categories {
    max-height: 290px;
    overflow-y: auto;
    overflow-x: hidden;
    margin-bottom: 32px;
}

.view .dropdown-menu_state {
    left: 0;
}

/* Restyling */

.header {
    display: flex;
    align-items: flex-start;
    min-width: 900px;
}

.header .logo {
    position: relative;
    top: 13px;
    flex-shrink: 0;
    float: none;
}

.header__menu {
    flex: 1 1 auto;
    display: flex;
    flex-wrap: wrap;
    align-itens: center;
}

.header__links {
    position: relative;
    top: 16px;
    flex: 1 1 30%;
}

.header__links > .links > li > a {
    display: inline-block;
}

.header__links > .links > .statistics-link > a {
    display: inline-block;
    height: auto;
    padding: 0;
}

.navigation {
    float: left;
    position: relative;
    top: 0;
    padding-top: 20px;
}

.main {
    padding-top: 20px;
}

.header .global-status {
   float: left;
   margin: 10px 0px 10px 10px;
   padding: 6px 10px 6px 6px;
}

.header .global-status > span {
    display: block;
}

.header .external-component-status {
    padding: 5px 20px; 4px 0px;
    margin: 10px 0;
    display: inline-block;
}