body {
    padding-top: 50px;
}

@media (min-width: 1500px) {
    .container {
        max-width: 1500px;
    }
}

.starter-template {
    text-align: center;
}

.final-state {
    color: red
}

.role.role-inactive {
    opacity: .3
}

