<div class="overlay" ng-click="closeView()"></div>
<div class="view">
    <div class="action-panel">
        <div class="caption">
            <entity-title entity="getBranch().entity"></entity-title>
            <h2 ng-show="!getBranch().entity">{{branchName}}</h2>
        </div>


        <div class="action-list">
            <div ng-repeat="entry in getActivity() | orderBy:'-timestamp'">
                <div class="date">{{entry.timestamp | friendlyDate }}</div>
                <div class="avatar" ng-show="entry.number">
                    <img title="Jenkins" src="/assets/images/jenkins.png" style="width: 32px; height: 32px;">
                </div>
                <div class="description" ng-show="entry.activityType == 'build'">
                    <div class="panel-group">
                        <div class="panel {{ StatusHelper.parse(entry) | status2Class }}">
                            <div class="panel-heading" ng-init="isCollapsed = !$first; !$first || loadBuild(entry);">
                                <build-status build="entry" branch="getBranch()" type="btn"></build-status>
                                <h4 class="panel-title toggle-state">
                                    <a ng-click="loadBuild(entry); isCollapsed = !isCollapsed">{{entry.isPullRequest ? "PR " : "" }}Build #{{entry.number}}</a>
                                </h4>
                            </div>
                            <div class="tree panel-collapse" ng-show="!isCollapsed">
                                <div class="panel-body">
                                    <ul>
                                        <li ng-repeat="data in [entry.node]" ng-include="'/assets/partials/buildNode.html'"></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="description" ng-show="entry.activityType == 'pullRequest'">
                    <div class="panel-group">
                        <div class="panel default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a>Pull request #{{entry.prId}} created</a>
                                </h4>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="description" ng-show="entry.activityType == 'commit'">
                    <div class="panel-group">
                        <div class="panel default">
                            <div class="panel-heading" ng-init="isCollapsed = true;">
                                <h4 class="panel-title commit">
                                    <a ng-click="isCollapsed = !isCollapsed">Commit {{entry.sha1}}</a>&nbsp;<span>by <a class="author" href="mailto:{{entry.authorEmail}}">{{entry.authorName}}</a></span>
                                </h4>
                            </div>
                            <div class="tree panel-collapse" ng-show="!isCollapsed">
                                <div class="panel-body">
                                    <pre>{{entry.message}}</pre>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="info-panel">
        <div class="item">
            <h4>Branch</h4>
            <span>{{getBranch().name}}</span>
        </div>
        <div class="item" ng-show="getBranch().entity">
            <h4>Users</h4>
            <span ng-repeat="user in getBranch().entity.assignments" class="avatar">
                <img ng-src="{{user.avatar}}20">
                <span>{{user.firstName}} {{user.lastName}}</span>
            </span>
        </div>
        <div class="item" ng-show="getBranch().entity">
            <h4>Status</h4>
            <entity-state entity="getBranch().entity" type="btn"></entity-state>
        </div>
        <div class="item" ng-show="getBranch().pullRequest">
           <h4>Pr</h4>
           <a
               class="btn pr status {{ getBranch().pullRequest | pullRequestStatus | status2Class }}"
               href="{{getBranch().pullRequest.url}}">#{{getBranch().pullRequest.prId}}</a>
        </div>

        <div class="item">
            <h4>Jenkins</h4>
            <build-status build="getBranch().lastBuild" branch="getBranch()" build-actions="getBranch().buildActions" type="btn"></build-status>
        </div>
    </div>
</div>
<div ui-view></div>
