<div class="loader" ng-show="loading">
</div>
<div ng-show="!loading">
    <table class="table sortable table-condensed">
        <thead>
        <tr class="header">
            <th ng-click="orderingPredicate='name'; reverse=!reverse"
                ng-class="{sort:orderingPredicate == 'name', reverse:reverse}">
                Branch
                <span ng-class="{arrow:orderingPredicate == 'name', up:reverse}"></span>
            </th>
            <th ng-click="orderingPredicate='entity.assignments[0].lastName'; reverse=!reverse"
                 ng-class="{sort:orderingPredicate == 'entity.assignments[0].lastName', reverse:reverse}">
                Users
                <span ng-class="{arrow:orderingPredicate == 'entity.assignments[0].lastName', up:reverse}"></span>
            </th>

            <th ng-click="orderingPredicate='entity.state.name'; reverse=!reverse"
                ng-class="{sort:orderingPredicate == 'entity.state.name', reverse:reverse}">
                State
                <span ng-class="{arrow:orderingPredicate == 'entity.state.name', up:reverse}"></span>
            </th>
            <th ng-click="orderingPredicate='pullRequest.id'; reverse=!reverse"
                ng-class="{sort:orderingPredicate == 'pullRequest.id', reverse:reverse}">
                PR
                <span ng-class="{arrow:orderingPredicate == 'pullRequest.id', up:reverse}"></span>
            </th>
            <th ng-click="orderingPredicate='lastBuild.timeStamp'; reverse=!reverse"
                ng-class="{sort:orderingPredicate == 'lastBuild.timeStamp', reverse:reverse}">
                Build
                <span ng-class="{arrow:orderingPredicate == 'lastBuild.timeStamp', up:reverse}"></span>
            </th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="branch in allBranches | orderBy:orderingPredicate:reverse" ng-controller="branchLineController"
            ng-class="getLastBuildStatus()">
            <td>
                <entity-title entity="branch.entity" url="#/branches/{{branch.name | encode }}"></entity-title>
                <span ng-show="!branch.entity"><a href="#/branches/{{branch.name | encode }}">{{branch.name}}</a></span>

            </td>
            <td>
                <div ng-show="branch.entity">
                            <span ng-repeat="assignment in branch.entity.assignments"
                                  class="ui-role ui-role-active-{{assignment.isResponsible}}">
                                <img ng-src="{{assignment.avatar}}30"
                                     title="{{assignment.role}}: {{assignment.firstName}} {{assignment.lastName}}">
                            </span>
                </div>
            </td>
            <td>
                <entity-state entity="branch.entity"></entity-state>
            </td>
            <td>
                <div ng-show="branch.pullRequest" class="btn-group btn-group-stretch" tooltip="{{branch.pullRequest.created | date}}">
                    <a target="_blank" href="{{branch.pullRequest.url}}"
                       class="btn btn-default btn-{{ branch.pullRequest | pullRequestStatus | status }}">
                        #{{branch.pullRequest.id}}</a>
                </div>
            </td>
            <td>
                <div class="btn-group">
                    <a ng-show="branch.lastBuild" href="{{branch.lastBuild.url}}" class="btn btn-default btn-{{ branch.lastBuild.status | status}}">
                        {{ branch.lastBuild.timeStamp | date }}
                    </a>
                    <button ng-show="!branch.lastBuild" type="button" class="btn dropdown-toggle btn-default"  data-toggle="dropdown">
                        <span>Never built</span>
                        <span class="caret"></span>
                    </button>
                    <button ng-show="branch.lastBuild" type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown" >
                        <span class="caret"></span>
                        <span class="sr-only">Toggle Dropdown</span>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                        <li>
                            <a ng-repeat="action in branch.buildActions" ng-click="forceBuild(action)">
                                {{action.name}}
                            </a>
                        </li>
                    </ul>
                </div>
            </td>
        </tr>
        </tbody>
    </table>
</div>
