<div class="main">
    <div class="user-filter" ng-hide="branchesFilter == 'special'">
        <div class="btn-group">
            <a class="btn" ui-sref-active="active" ui-sref="list({user:userFilter, branch:'all'})">
                All branches
                <span class="counter">{{countBy(null,"all")}}</span>
            </a>
            <a class="btn" ui-sref-active="active" ui-sref="list({user:userFilter, branch:'entity'})">
                Entity branches<span class="counter">{{countBy(null,"entity")}}</span>
            </a>
            <a class="btn" ui-sref-active="active" ui-sref="list({user:userFilter, branch:'closed'})">
                Closed branches<span class="counter">{{countBy(null,"closed")}}</span>
            </a>
        </div>
    </div>

    <div class="info-table">
        <table>
            <thead>
            <tr>
                <th colspan="2">
                    <a ng-click="orderingPredicate='name'; reverse=!reverse" href=""
                       ng-class="{sorting:orderingPredicate == 'name', up:reverse, down:!reverse}">
                        Branch
                    </a>
                </th>
                <th>
                    <a ng-click="orderingPredicate='entity.assignments[0].lastName'; reverse=!reverse" href=""
                       ng-class="{sorting:orderingPredicate == 'entity.assignments[0].lastName', up:reverse, down:!reverse}">
                        Users
                    </a>
                </th>
                <th>
                    <a ng-click="orderingPredicate='entity.state.name'; reverse=!reverse" href=""
                       ng-class="{sorting:orderingPredicate == 'entity.state.name', up:reverse, down:!reverse}">
                        Status
                    </a>
                </th>
                <th>
                    <a ng-click="orderingPredicate='pullRequest.prId'; reverse=!reverse" href=""
                       ng-class="{sorting:orderingPredicate == 'pullRequest.prId', up:reverse, down:!reverse}">
                        PR
                    </a>
                </th>
                <th>
                    <a ng-click="orderingPredicate='lastBuild.timestamp'; reverse=!reverse" href=""
                       ng-class="{sorting:orderingPredicate == 'lastBuild.timestamp', up:reverse, down:!reverse}">
                        Jenkins
                    </a>
                </th>
                <!--th>
                    <a ng-click="orderingPredicate='name'; reverse=!reverse" href="" ng-class="{sorting:orderingPredicate == 'name', up:reverse, down:!reverse}">Review</a>
                </th>-->
                <th>
                    Merge
                </th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="branch in getBranches() | orderBy:orderingPredicate:reverse" ng-controller="branchLineController" ng-class="getLastBuildStatus()">
                <td class="entity-id-cell">
                    <a ng-show="branch.entity" target="_blank" href="{{branch.entity.url}}"
                       class="ui-entity ui-entity-{{branch.entity.entityType.toLowerCase()}}">{{branch.entity.id}}</a>
                </td>
                <td class="branch-name-cell">
                    <div class="entity-name">
                        <a class="entity-name-link" ui-sref="list.branch({name:branch.name})">{{branch.entity.name || branch.name}}</a>
                    </div>
                </td>

                <td>
                    <div class="user-list" ng-show="branch.entity">
                        <img ng-repeat="assignment in branch.entity.assignments"
                             ng-src="{{assignment.avatar}}20"
                             title="{{assignment.role}}: {{assignment.firstName}} {{assignment.lastName}}"/>
                    </div>
                </td>
                <td>
                    <entity-state entity="branch.entity"></entity-state>
                </td>
                <td>
                    <div ng-show="branch.pullRequest" class="dropdown">
                        <a target="_blank" href="{{branch.pullRequest.url}}"
                           class="pr status {{ branch.pullRequest | pullRequestStatus | status2Class }}"
                           title="{{branch.pullRequest.created | date}}">#{{branch.pullRequest.prId}}</a>
                    </div>
                </td>
                <td>
                    <build-status build="branch.lastBuild" branch="branch" show-timestamp="true"></build-status>
                </td>
                <td>
                    <merge-button branch="branch" size="small"></merge-button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>