<div class="container">
    <div class="col-lg-9">
        <h3>
            <entity-title entity="branch.entity"/>
            {{branch.name}}
        </h3>

        <div ng-model="collapse" ng-repeat="build in builds" class="panel panel-{{build.status | status}}">
            <div class="panel-heading">
                <h4 class="panel-title">
                   <a data-toggle="collapse" data-target=".build-{{build.number}}">  {{build.timeStamp | date:'medium' }}</a>
                </h4>
            </div>
            <div class="panel-collapse collapse build-{{build.number}}">
                <div class="panel-body">

                </div>
            </div>
        </div>



    </div>
    <div class="col-lg-3" ng-show="branch.entity.assignments">
        Users
        <div ng-repeat="user in branch.entity.assignments">
            <img ng-src="{{user.avatar}}40"> {{user.firstName}} {{user.lastName}}
        </div>
    </div>
</div>