<div class="view">
    <div class="action-panel">
        <div class="caption">
            <entity-title entity="branch.entity"></entity-title>
            <h2>{{branchName}}</h2>
        </div>


        <div class="action-list">
            <div ng-repeat="build in builds" class="item {{build.status | status}}">
                <div class="date">{{build.timeStamp | date:'M/d/yy hh:mm' }}</div>
                <div class="avatar">
                    <img title="Jenkins" src="/assets/images/jenkins.png" style="width: 32px; height: 32px;">
                </div>
                <div class="description">
                    <p><b>Build #{{build.number}} </b> <span class="changes"> was triggered. Status: {{build.status}}</span></p>
                    <div class="tree">
                        <ul>
                            <li ng-repeat="data in [build.node]" ng-include="'/assets/partials/buildNode.html'"></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>


    </div>
    <div class="info-panel">
        <span ng-show="branch.entity">
            <panel>
                <panel-heading>
                    Users
                </panel-heading>
                <panel-body>
                    <div ng-repeat="user in branch.entity.assignments">
                        <img ng-src="{{user.avatar}}40"> {{user.firstName}} {{user.lastName}}
                    </div>
                </panel-body>
            </panel>
            <panel>
                <panel-body>
                    <entity-state entity="branch.entity"></entity-state>
                </panel-body>
            </panel>
        </span>
        <panel>
            <panel-heading>
                Build
            </panel-heading>
            <panel-body>
                <div class="btn-group-vertical btn-group-stretch">
                    <button type="button" class="btn btn-default" ng-repeat="action in branch.buildActions"
                            ng-click="forceBuild(action)">
                        {{action.name}}
                    </button>
                </div>
            </panel-body>
        </panel>
        <panel>
            <panel-body>
                <div class="btn-group-vertical btn-group-alignment-left">
                    <a ng-show="!branch.pullRequest" class="btn btn-link" href="{{ branch.url }}" target="_blank"><span
                            class="external github">Github</span></a>
                    <a ng-show="branch.pullRequest"
                       class="btn btn-{{ branch.pullRequest | pullRequestStatus | status }}"
                       href="{{branch.pullRequest.url}}">Pull Request #{{branch.pullRequest.id}}</a>
                    <a class="btn btn-link" ng-show="branch.entity" href="{{branch.entity.url}}" target="_blank"><span
                            class="external tpIcon">TargetProcess</span></a>
                </div>
            </panel-body>
        </panel>
    </div>
</div>