<span ng-model="showMe" ng-click="showMe=!showMe" class="node {{data.status | status}} collapse">
    <span ng-show="data.children && data.children.length > 0" class="glyphicon glyphicon-collapse-{{showMe ?'down':'up'}}"></span>
    <a target="_blank" ui-sref="list.branch.artifacts({buildNode:data.name,build:build.number})"  title="{{data.status | lowercase}}">{{data.name}}</a>
</span>

<ul>
    <li ng-repeat="data in data.children | orderBy:'name'" ng-include="'/assets/partials/buildNode.html'"></li>
</ul>