<span class="title {{ data | parseBuildNodeStatus }} {{isCollapsible(data)?'collapsible':''}}">
    <a target="_blank"
       ui-sref="list.branch.run({part:data.name,build:entry.number,run:data.runName})"
       title="{{data.status | lowercase}}">{{data.name}}
    <span ng-show="data.children.length">
        - {{getSuccessCount(data.children)}} / {{data.children.length}}
    </span>
    </a>
</span>

<div class="children" ng-show="data.children.length">
    <div ng-repeat="data in data.children | orderBy:'name'"
         class="node {{data.children.length ? '':'inline'}}"
         ng-include="'/assets/partials/buildNode.html'">
    </div>
</div>
