<div onclick="this.focus();" onfocusin="this.focus();" ng-focus="clearTimeoutOnFocus()"  ng-blur="hideOnBlur();" tabindex="-1" class="dropdown open">
    <a ng-show="build" ng-click="toggle()" href=""
       class="jenkins status {{type}} {{ getBuildStatus(build) | status2Class }} dropdown-toggle"
       title="{{ getBuildStatus(build) | status2text }}">
        <span ng-show="showTimestamp">{{ build.timestamp | date }}</span>
        <span ng-hide="showTimestamp">{{ getBuildStatus(build) | status2text }}</span>
    </a>
    <a ng-show="!build" ng-click="toggle();" href="" class="jenkins status {{type}} dropdown-toggle" data-toggle="dropdown">
        Never built
    </a>
    <ul ng-if="showList" class="dropdown-menu">
        <li ng-show="build"><a href="{{build.url}}" class="jenkins active">Go to Jenkins</a></li>
        <li ng-show="build"><a href="" ng-click="toggleBuild(build)" class="jenkins">Toggle build</a></li>
        <li ng-show="pending"><a href="">Loading&hellip;</a></li>
        <hr ng-show="build && buildActions">
        <li ng-repeat="action in buildActions track by $index">

            <a class="jenkins" ng-show="!action.buildParametersCategories || action.buildParametersCategories.length === 0" href="" ng-click="forceBuild(action)">{{action.name}}</a>
            <a class="jenkins collapse action"  ng-show="action.buildParametersCategories.length" onclick="event.stopPropagation();" ng-click="toggleParameters(action);">{{action.name}}</a>
            <div class="custom-parts-build" ng-show="action.showParameters">
                <div class="custom-parts-build_categories">
                    <ul  onclick="event.stopPropagation();" ng-repeat="category in action.buildParametersCategories" class="category-list">
                        <li class="category-list__item">
                            <div class="category-list__name">{{category.name}}</div>
                            <ul class="category-list__parameters">
                                <li ng-repeat="part in category.parts" class="category-list__parameters__item">
                                    <label>
                                        <input onclick="" type="checkbox" checklist-model="category.selectedParts" checklist-value="part" class="category-list__checkbox">
                                        {{part}}
                                    </label>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <nav class="jenkins start-build">
                        <button type="button"  ng-click="forceBuild(action)" class="btn btn-success">Start</button>
                </nav>
            </div>
        </li>
    </ul>
</div>
