<span ng-model="showMe" ng-click="showMe=!showMe" class="node {{data.status | status}} collapse">
    <span ng-show="data.children && data.children.length > 0" class="glyphicon glyphicon-collapse-{{showMe ?'down':'up'}}"></span>
    <a href="{{data.statusUrl}}" target="_blank" title="{{data.status | lowercase}}">{{data.name}}</a>
    <!--<a ng-show="data.artifactsUrl" target="_blank" ui-sref="list.branch.testCasePackage({file:data.artifactsUrl})" href="{{data.artifactsUrl}}" title="{{data.status | lowercase}}">{{data.name}}</a>-->
</span>

<ul>
    <li ng-repeat="data in data.children | orderBy:'name'" ng-include="'/assets/partials/buildNode.html'"></li>
</ul>