<div class="dropdown">
    <a ng-show="build" href=""
       class="jenkins status {{type}} {{ getBuildStatus(build) | status2Class }} dropdown-toggle"
       title="{{ getBuildStatus(build) | status2text }}">
        <span ng-show="buildActions">{{ build.timestamp | date }}</span>
        <span ng-hide="buildActions">{{ getBuildStatus(build) | status2text }}</span>
    </a>
    <a ng-show="!build" href="" class="jenkins status {{type}} dropdown-toggle" data-toggle="dropdown">
        Never built
    </a>
    <ul class="dropdown-menu">
        <li ng-show="build"><a href="{{build.url}}" class="jenkins active">Go to Jenkins</a></li>
        <li ng-show="build"><a href="" ng-click="toggleBuild(build)" class="jenkins">Toggle build</a></li>
        <hr ng-show="build && buildActions">
        <li class="dropdown" ng-repeat="action in buildActions">

            <a class="jenkins" href="" ng-click="forceBuild(action)">{{action.name}}</a>
                 <style>

                     .category-list {
                         width: 380px;
                         font-size: 12px;
                     }

                     .category-list__item {
                         padding: 5px 0;
                     }

                     .category-list__name {
                         padding: 0 0 0 38px;
                         font-weight: bold;
                         color: rgba(0,0,0,0.4);
                     }

                     .category-list__parameters {

                         padding: 0 0 0 48px;
                         white-space: normal;
                     }

                     .category-list__parameters__item {
                         display: inline-block;
                         width: 130px;
                         padding: 2px 0;
                     }

                     .category-list__checkbox{
                         position: relative;
                         top:2px;

                     }

                 </style>
            <ul onclick="event.stopPropagation();" ng-repeat="category in action.buildParametersCategories" class="category-list">
                <li class="category-list__item">
                    <div class="category-list__name">{{category.name}}</div>
                    <ul class="category-list__parameters">
                        <li ng-repeat="part in category.parts" class="category-list__parameters__item">
                            <label>
                                <input onclick="" type="checkbox" checklist-model="category.selectedParts" checklist-value="part" class="category-list__checkbox">
                                {{part}}
                            </label>
                        </li>
                    </ul>
                </li>
            </ul>
        </li>
    </ul>
</div>
