<div class="header" ng-controller="headerController">
    <a class="logo" href="#"></a>

    <build-status-badge build="getLastBuild" name="develop" time="now"></build-status-badge>

    <build-status-badge build="getPrevBuild" name="develop" time="past"></build-status-badge>


    <ul class="links">
        <li class="statistics-link"><a>Statistics</a>
            <ul class="dropdown-menu">
                <li>
                    <a target="_blank"
                       href="http://tauspy.com/report.html#group/1f4594d4-869f-411f-9fc4-94421642bc11/69530dac-da61-424f-9d1c-21072b163442"
                       >
                        Jenkins TestRuns Min/Max/Avg
                    </a>
                </li>
                <!-- end ngRepeat: r in groups[$index].reports -->
                <li>
                    <a target="_blank"
                       href="http://tauspy.com/report.html#group/1f4594d4-869f-411f-9fc4-94421642bc11/6e89d3bb-0f6d-4b5b-ba57-6e9c6ed0cde8"
                       >
                        Jenkins ALL Tests execution time by date
                    </a>
                </li>
                <!-- end ngRepeat: r in groups[$index].reports -->
                <li>
                    <a target="_blank"
                       href="http://tauspy.com/report.html#group/1f4594d4-869f-411f-9fc4-94421642bc11/8da0382a-c37a-4f7d-9f45-c8e410d09d1a"
                       >
                        Jenkins FUNC test execution time by date
                    </a>
                </li>
                <!-- end ngRepeat: r in groups[$index].reports -->
                <li>
                    <a target="_blank"
                       href="http://tauspy.com/report.html#group/1f4594d4-869f-411f-9fc4-94421642bc11/45f6f43a-3a9b-4376-ad07-c731e1bed4e9"
                       >
                        Jenkins UNIT TESTS execution time
                    </a>
                </li>
                <!-- end ngRepeat: r in groups[$index].reports -->
                <li>
                    <a target="_blank"
                       href="http://tauspy.com/report.html#group/1f4594d4-869f-411f-9fc4-94421642bc11/ac543802-0496-4ec6-bb10-f18f32449a0d"
                       >
                        Jenkins SHORT builds execution time
                    </a>
                </li>
                <!-- end ngRepeat: r in groups[$index].reports -->
                <li>
                    <a target="_blank"
                       href="http://tauspy.com/report.html#group/1f4594d4-869f-411f-9fc4-94421642bc11/b883814f-7be7-41b8-a978-1982ed871daf"
                       >
                        Jenkins SHORT builds FUNC tests
                    </a>
                </li>
                <!-- end ngRepeat: r in groups[$index].reports -->
                <li>
                    <a target="_blank"
                       href="http://tauspy.com/report.html#group/1f4594d4-869f-411f-9fc4-94421642bc11/da9f8bb4-903b-479f-8d55-8bdeb0e046f1"
                       >
                        Jenkins SHORT builds UNIT tests
                    </a>
                </li>
                <!-- end ngRepeat: r in groups[$index].reports -->
                <li>
                    <a target="_blank"
                       href="http://tauspy.com/report.html#group/1f4594d4-869f-411f-9fc4-94421642bc11/c40bbac9-0711-4328-8de6-c681e18a99f5"
                       >
                        Jenkins build cycle candles
                    </a>
                </li>
                <!-- end ngRepeat: r in groups[$index].reports -->
            </ul>
        </li>
        <li><a target="_blank" href="https://github.com/TargetProcess/TP/wiki">Wiki</a></li>
        <li>{{user.fullName}}</li>
        <li class="sign-out"><a href="{{logout}}">Sign out</a></li>
    </ul>
</div>

