<div class="header" ng-controller="headerController">
    <a class="logo" href="#"></a>
    <div ng-show="getLastStatus()" ui-sref="list.branch({name:'develop'})" class="global-status pointer {{ getLastStatus().getStatus() | status2Class }}">
        <span class="status {{ getLastStatus().getStatus() | status2Class }}">
           Develop is {{ getLastStatus().getStatus() | status2text }} since {{  getLastStatus().timeStamp | date:'M/d/yy HH:mm' }}
        </span>
    </div>

    <div ng-show="getPrevStatus()" ui-sref="list.branch({name:'develop'})" class="global-status pointer {{ getPrevStatus().getStatus() | status2Class }}">
        <span class="status {{ getPrevStatus().getStatus() | status2Class }}">
           Develop was {{ getPrevStatus().getStatus() | status2text }} at {{ getPrevStatus().timeStamp | date:'M/d/yy HH:mm' }}
        </span>
    </div>

    <ul class="links">
        <li>{{user.fullName}}</li>
        <li class="sign-out"><a href="{{logout}}">Sign out</a></li>
    </ul>
</div>