<div class="header" ng-controller="headerController">
    <a class="logo" href="#"></a>

    <build-status-badge build="getLastBuild" name="develop" time="now"></build-status-badge>

    <build-status-badge build="getPrevBuild" name="develop" time="past"></build-status-badge>


    <ul class="links">
        <li><a target="_blank" href="https://github.com/TargetProcess/TP/wiki">Wiki</a></li>
        <li>{{user.fullName}}</li>
        <li class="sign-out"><a href="{{logout}}">Sign out</a></li>
    </ul>
</div>