<div class="col-lg-2">
    <ul class="nav nav-pills nav-stacked">
        <li>
            <a href="#/branchList/all">All branches
            </a>
        </li>
        <li>
            <a href="#/branchList/entity">Entity branches
            </a>
        </li>
        <li>
            <a href="#/branchList/my">My branches
            </a>
        </li>
        <hr>
        <li ng-repeat="user in users | orderBy:'firstName+lastName'">
            <a href="#">
                <img ng-src="{{user.avatar}}30" title="{{user.role}}">

                {{user.firstName}} {{user.lastName}}
            </a>
        </li>
    </ul>
</div>
<div class="col-lg-10" ng-include src='"/assets/partials/branchList.html"'>
</div>