<div class="navigation">
    <ul class="branches-filter">
        <li class="active">
            <a href="#/branchList/all">
                <b>All branches</b>
                <span class="counter">{{count("all")}}</span>
            </a>
        </li>
        <li>
            <a href="#/branchList/my">
                <b>My branches</b>
                <span class="counter">{{count("my")}}</span>
            </a>
        </li>
    </ul>
    <ul class="persons-list">
        <li ng-repeat="user in users | orderBy:'firstName+lastName'">
            <a href="#/branchList/{{user.userId}}">
                        <span class="avatar">
                            <img title="{{user.role}}" ng-src="{{user.avatar}}16">
                            <span>{{user.firstName}} {{user.lastName}}</span>
                        </span>
                <span class="counter">{{count(user.userId)}}</span>
            </a>
        </li>
    </ul>
</div>
<div class="main">
    <div class="user-filter">
        <div class="btn-group">
            <a class="btn active" type="button">All branches<span class="counter">{{count("all")}}</span></a>
            <a class="btn" type="button">Entity branches<span class="counter">{{count("entity")}}</span></a>
            <a class="btn" type="button">Closed branches<span class="counter">{{count("closed")}}</span></a>
        </div>
    </div>

<div class="info-table" ng-include src='"/assets/partials/branchList.html"'>
</div>
</div>