<div class="navigation">
    <ul class="branches-filter">
        <li ui-sref-active="active">
            <a ui-sref="list({user:'all', branch:'all'})">
                <b>All branches</b>
                <span class="counter">{{countBy("all")}}</span>
            </a>
        </li>
        <li ui-sref-active="active">
            <a ui-sref="list({user:'all', branch:'special'})">
                <b>Special branches</b>
                <span class="counter">{{countBy('all', 'special')}}</span>
            </a>
        </li>
        <li ui-sref-active="active">
            <a ui-sref="list({user:'my', branch:'all'})">
                <b>My branches</b>
                <span class="counter">{{countBy("my")}}</span>
            </a>
        </li>
    </ul>
    <ul class="persons-list">
        <li ng-repeat="user in getUsers() | orderBy:'firstName+lastName'" ui-sref-active="active">
            <a ui-sref="list({user:user.userId, branch:branchesFilter})">
                        <span class="avatar">
                            <img title="{{user.role}}" ng-src="{{user.avatar}}16">
                            <span>{{user.firstName}} {{user.lastName}}</span>
                        </span>
                <span class="counter">{{countBy(user.userId)}}</span>
            </a>
        </li>
    </ul>
</div>
