<div class="overlay" style="z-index: 300;" ng-click="closeView()"></div>
<div class="view common" style="left: 480px; z-index: 350;">
    <h2 class="txt-overflow">{{testCase.name}} <span class="txt-{{buildBoard.StatusHelper.parse(testCase) | status2Class }}">{{testCase.result}}</span></h2>
    <div class="test-info">
        <div class="time">Took {{testCase.duration | duration}} sec</div>
    </div>
    <div ng-show="testCase.screenshots.length" ng-init="isCollapsed = true">
        <h3 ng-click="isCollapsed = !isCollapsed">Screenshots</h3>
        <div ng-show="!isCollapsed" ng-repeat="screenshot in testCase.screenshots">
            <img ng-src="/jenkins/artifact?file={{screenshot.url}}" title="{{screenshot.name}}" />
        </div>
    </div>
    <h3>StackTrace</h3>
    <pre>{{testCase.message}}</pre>
    <pre>{{testCase.stackTrace}}</pre>
</div>