<div class="overlay" style="z-index: 200;" ng-click="closeView()"></div>
<div class="view common" style="left: 400px; z-index: 250;">
    <div class="tests-results">
        <div class="info">{{totalCount}} tests <span>{{failedCount}} failed, {{skippedCount}} skipped</span></div>
        <div class="info"><span><a href="{{statusUrl}}" target="_blank">{{statusUrl}}</a></span></div>
        <div class="time">Took {{totalTime | duration}}
        </div>
        <div class="line">
            <div class="failed" ng-style="{width: failedCount/totalCount*100 + '%'}"></div>
            <div class="skipped" ng-style="{width: skippedCount/totalCount*100 + '%'}"></div>
        </div>
    </div>
    <div class="info-table" ng-show="failedTests.length">
        <table class="fixed">
            <colgroup>
                <col class="w-80">
                <col class="w-20">
            </colgroup>
            <thead>
                <tr>
                    <th>
                        <a ng-click="orderingPredicate='name'; reverse=!reverse" href=""
                           ng-class="{sorting:orderingPredicate == 'name', up:reverse, down:!reverse}">Failed Tests</a>
                    </th>
                    <th>
                        <a ng-click="orderingPredicate='duration'; reverse=!reverse" href=""
                           ng-class="{sorting:orderingPredicate == 'duration', up:reverse, down:!reverse}">Duration</a>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="data in failedTests | orderBy:orderingPredicate:reverse">
                    <td>
                        <div class="txt-overflow">
                            <a href="" ui-sref="list.branch.testCasePackage.testCase({testCase:data.name})">{{data.name}}</a>
                        </div>
                    </td>
                    <td>{{data.duration | duration}}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="info-table">
        <table class="fixed">
            <colgroup>
                <col class="w-75">
                <col class="w-5">
                <col class="w-5">
                <col class="w-5">
                <col class="w-5">
                <col class="w-5">
            </colgroup>
            <thead>
                <tr>
                    <th>
                        <a ng-click="orderingPredicate='name'; reverse=!reverse" href=""
                           ng-class="{sorting:orderingPredicate == 'name', up:reverse, down:!reverse}">All Tests</a>
                    </th>
                    <th>
                        <a ng-click="orderingPredicate='duration'; reverse=!reverse" href=""
                           ng-class="{sorting:orderingPredicate == 'duration', up:reverse, down:!reverse}">Duration</a>
                    </th>
                    <th>
                        <a ng-click="orderingPredicate='failedCount'; reverse=!reverse" href=""
                           ng-class="{sorting:orderingPredicate == 'failedCount', up:reverse, down:!reverse}">Fail</a>
                    </th>
                    <th>
                        <a ng-click="orderingPredicate='skippedCount'; reverse=!reverse" href=""
                           ng-class="{sorting:orderingPredicate == 'skippedCount', up:reverse, down:!reverse}">Skip</a>
                    </th>
                    <th>
                        <a ng-click="orderingPredicate='passedCount'; reverse=!reverse" href=""
                           ng-class="{sorting:orderingPredicate == 'passedCount', up:reverse, down:!reverse}">Pass</a>
                    </th>
                    <th>
                        <a ng-click="orderingPredicate='totalCount'; reverse=!reverse" href=""
                           ng-class="{sorting:orderingPredicate == 'totalCount', up:reverse, down:!reverse}">Total</a>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="data in testCasePackages | orderBy:orderingPredicate:reverse">
                    <td ng-init="isCollapsed = true">
                        <div class="txt-overflow">
                            <a href="" ng-click="isCollapsed = !isCollapsed">{{data.name}}</a>
                        </div>
                        <ul ng-show="!isCollapsed">
                            <li ng-repeat="testCase in data.testCases">
                                <a href="" ui-sref="list.branch.testCasePackage.testCase({testCase:testCase.name})">{{testCase.name}}</a>
                            </li>
                        </ul>
                    </td>
                    <td>{{data.duration | duration}}</td>
                    <td>{{data.failedCount}}</td>
                    <td>{{data.skippedCount}}</td>
                    <td>{{data.passedCount}}</td>
                    <td>{{data.totalCount}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<div ui-view></div>