@import "variables.less";
@import "mixins.less";

/*Common*/
.txt-overflow {
  .text-overflow();
}

.txt-success {
  color: @success;
}

.txt-warning {
  color: @warning;
}

.global-status__controls {
  margin-right: 10px;
}

/*HEADER*/
.header {
  z-index: 5;
  top: 0;
  left: 0;
  right: 0;
  #gradient > .vertical(#4c5059, #292b33);
  color: #fff;
  padding: 12px 20px;
  .clearfix;
  .box-sizing(border-box);

  a {
    color: #fff;
  }

  .logo {
    display: block;
    float: left;
    .sprite-icon(0 -10px);
    width: 205px;
    height: 22px;
    overflow: hidden;
  }

  .links {
    float: right;
    li {
      float: left;
      padding-left: 15px;
    }
    a:hover {
      text-decoration: underline;
      color: #FFF;
    }
  }

  .global-status {
    float: left;
    margin: 5px 0 5px 10px;
    padding: 6px 10px 6px 6px;
    &.pointer:hover {
      cursor: pointer;
    }

    &.success {
      border-radius: 2px;
      background-color: fadeout(@success, 40%);
      border-bottom-color: #fff;
    }
    &.warning {
      border-radius: 2px;
      background-color: fadeout(@warning, 40%);
      border-bottom-color: #fff;
    }
    &.in_progress {
      border-radius: 2px;
      background-color: fadeout(@in_progress, 40%);
      border-bottom-color: #fff;
    }
    &.timed_out {
      border-radius: 2px;
      background-color: fadeout(@timed_out, 40%);
      border-bottom-color: #fff;
    }
  }
}

a {
  color: #fff;
  &:hover {
    text-decoration: underline;
    color: #fff;
  }

  .sign-out a, .github-login a {
    color: fadeout(#fff, 50%);
  }

  .branch-status {
    float: left;
    position: relative;
    top: -5px;
    padding: 0 15px;

    .btn {
      color: #fff;
      background: none;

      &.warning {
        border-color: @warning;
      }

      &.in_progress {
        border-color: @in_progress;
      }
      &.timed_out {
        border-color: @timed_out;
      }

      &.success {
        border-color: @success;
      }

      &.default {
        border-color: #ccc;
      }

      &:after {
        display: none;
      }
    }

  }

}

/*counter*/
.counter {
  line-height: 13px;
  color: fadeout(#000, 70%);
  font-size: 11px;
  display: inline-block;
  vertical-align: middle;
  padding: 0 5px 1px 5px;
  border-radius: 8px;
  border: solid 1px fadeout(#000, 70%);
}

/*LEFT PANEL*/
.navigation {
  .box-sizing(border-box);
  position: absolute;
  width: 210px;
  background-color: @gray;
  min-height: 100%;
  padding-top: 65px;

  &:before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 5px;
    box-shadow: inset -2px 0 2px 0 rgba(0, 0, 0, 0.1);
    z-index: 2;
  }

  li {
    position: relative;
    line-height: 0;

    &:hover {
      background-color: #fff;
    }

    &.active,
    &.active:hover {
      background-color: @primary;
      a {
        color: #fff;
      }
      .counter {
        .counter-active;

      }
    }
  }

  a {
    display: block;
    padding: 8px 35px 8px 20px;
    font-size: 12px;
    color: fadeout(#000, 30%);
  }

  .avatar {
    line-height: 0;
    display: inline-block;
    max-width: 100%;
    .text-overflow();
  }

  .avatar img, .avatar span {
    vertical-align: middle;
  }

  .avatar span {
    line-height: 16px;
    margin-left: 3px;
  }

  .counter {
    position: absolute;
    top: 9px;
    right: 10px;
    border: 0 none;
  }

  .branches-filter {
    padding-bottom: 20px;
    b {
      line-height: 16px;
      font-size: 14px;
    }
  }
}

/*Table with brunches info*/
.main {
  .box-sizing(border-box);
  min-height: 100%;
  margin-left: 210px;
  padding: 67px 30px 20px 30px;

  .user-filter {
    padding-bottom: 15px;
  }
}

.info-table {
  table {
    margin-bottom: 15px;
    width: 100%;
  }

  th {
    background-color: @gray-light;
    text-align: left;
    padding: 9px 15px 7px 15px;
    border-bottom: solid 1px #ccc;
    text-transform: uppercase;
    color: @gray-light-txt;

    a {
      color: @gray-light-txt;
    }

    .sorting {
      color: #000;
      position: relative;
      padding-right: 10px;

      &:before {
        content: '';
        display: block;
        width: 5px;
        height: 9px;
        position: absolute;
        top: 50%;
        margin-top: -5px;
        right: 0;
        opacity: 0.3;
      }

      &.up:before {
        .sprite-icon(-98px -56px);
      }

      &.down:before {
        .sprite-icon(-138px -56px);
      }
    }
  }

  td:last-child,
  th:last-child {
    text-align: center;
  }

  td {
    padding: 9px 15px;
    white-space: nowrap;
    border-bottom: solid 1px @gray;

    a {
      text-decoration: none;
      color: #000;
      display: inline-block;
      line-height: 16px;
    }

    .default {
      color: @gray-light-txt;
    }
  }

  &.all-tests-list td {
    vertical-align: top;
  }

  a.ui-entity {
    line-height: 20px;
  }

  tr {
    &:hover {
      td {
        background-color: @gray-dark;
      }

      .dropdown-toggle {
        color: @link-hover-color;
        border-bottom: dotted 1px @link-hover-color;
        &:hover {
          border-bottom: none;
        }
      }
    }

    &.success {
      border-radius: 2px;
      td {
        background-color: fadeout(@success, 90%);
        border-bottom-color: #fff;
      }
    }
    &.warning {
      border-radius: 2px;
      td {
        background-color: fadeout(@warning, 90%);
        border-bottom-color: #fff;
      }
    }

    &.in_progress {
      border-radius: 2px;
      td {
        background-color: fadeout(@in_progress, 90%);
        border-bottom-color: #fff;
      }
    }

    &.timed_out {
      border-radius: 2px;
      td {
        background-color: fadeout(@timed_out, 90%);
        border-bottom-color: #fff;
      }
    }
  }

  .entity-id-cell {
    width: 50px;
    padding-right: 0;
  }

  .branch-name-cell {
    padding-left: 5px;
    width: 50%;
    white-space: normal;
  }

  .fixed {
    table-layout: fixed;

    .w-10 {
      width: 10%;
    }
    .w-15 {
      width: 15%;
    }
    .w-20 {
      width: 20%;
    }
    .w-25 {
      width: 25%;
    }
    .w-30 {
      width: 30%;
    }
    .w-35 {
      width: 35%;
    }
    .w-40 {
      width: 40%;
    }
    .w-45 {
      width: 45%;
    }
    .w-50 {
      width: 50%;
    }
    .w-55 {
      width: 55%;
    }
    .w-60 {
      width: 60%;
    }
    .w-65 {
      width: 65%;
    }
    .w-70 {
      width: 70%;
    }
    .w-75 {
      width: 75%;
    }
    .w-80 {
      width: 80%;
    }
    .w-85 {
      width: 85%;
    }
    .w-90 {
      width: 90%;
    }
    .w-95 {
      width: 95%;
    }
    .w-100 {
      width: 100%;
    }

    .txt-overflow {
      a {
        display: inline;
      }
    }
  }

  .test-cases-list {
    padding: 10px 0 0 20px;
  }

}

/*status*/
.status {
  position: relative;
  margin-left: 16px;

  &:before {
    position: absolute;
    left: -16px;
    top: 50%;
    margin-top: -4px;
    content: '';
    width: 9px;
    height: 9px;
  }
  &.success:before {
    .sprite-icon(-15px -96px);
  }

  &.warning:before {
    .sprite-icon(-55px -96px);
  }

  &.default:before {
    .sprite-icon(-95px -96px);
  }

  &.in_progress:before {
    .sprite-icon(-95px -96px);
  }

}

.dropdown-menu .status {
  font-weight: normal;
  margin-left: 0;
  padding-left: 28px;

  &:before {
    left: 12px;
  }
}

/**/

/*pull request*/
.pr {
  position: relative;
  margin-left: 19px;

  &:before {
    position: absolute;
    left: -19px;
    top: 50%;
    margin-top: -8px;
    content: '';
    width: 14px;
    height: 16px;
  }
  &.success:before {
    .sprite-icon(-13px -132px);
  }

  &.warning:before {
    .sprite-icon(-53px -132px);
  }
  &.default:before {
    .sprite-icon(-93px -132px);
  }
  &.in_progress:before {
    .sprite-icon(-93px -132px);
  }
}

.dropdown-menu .pr {
  margin-left: 0;
  padding-left: 28px;

  &:before {
    left: 9px;
  }
}

/**/

/*jenkins*/
.jenkins {
  position: relative;
  margin-left: 16px;

  &:before {
    position: absolute;
    left: -16px;
    top: 50%;
    margin-top: -5px;
    content: '';
    width: 12px;
    height: 10px;
  }
  &.success:before {
    .sprite-icon(-14px -175px);
  }

  &.warning:before {
    .sprite-icon(-54px -175px);
  }

  &.default:before {
    .sprite-icon(-94px -175px);
  }

  &.in_progress:before {
    .sprite-icon(-94px -175px);
  }
  &.start-build {
    position: absolute;
    bottom: 0;
    left: 0;
    display: block;
    text-align: center;
    width: 100%;
    padding-left: 0 !important;
    .btn {
      display: block;
      width: 100%;
      text-align: center;
    }

  }
  &.collapse:hover {
    background: transparent;
    color: #000000;
  }
}

.dropdown-menu .jenkins {
  margin-left: 0;
  text-decoration: none;
  padding-left: 28px;

  &:before {
    left: 12px;
  }
  &.collapse {
    cursor: pointer;
    text-decoration: underline;
  }
}

/**/

/*review*/
.review {
  position: relative;
  margin-left: 21px;

  &.not-reviewed {
    color: @gray-light-txt;
  }

  &:before {
    position: absolute;
    left: -21px;
    top: 50%;
    margin-top: -5px;
    content: '';
    width: 17px;
    height: 10px;
  }
  &.success:before {
    .sprite-icon(-11px -215px);
  }

  &.warning:before {
    .sprite-icon(-51px -215px);
  }

  &.default:before {
    .sprite-icon(-91px -215px);
  }

  &.in_progress:before {
    .sprite-icon(-91px -215px);
  }
}

.dropdown-menu .review {
  margin-left: 0;
  padding-left: 28px;

  &:before {
    left: 8px;
  }
}

/**/
.merge {
  padding: 0;
  border: solid 1px darken(@gray-dark, 10%);
  background: none #fff;
  .box-sizing(border-box);
  width: 45px;
  height: 28px;
  &.large {
    width: 134px;
    height: 28px;
  }

  display: inline-block;
  vertical-align: middle;
  border-radius: 2px;
  position: relative;
  cursor: pointer;
  .transition(border-color, 0.5s, ease);

  &:before {
    content: '';
    display: block;
    position: absolute;
    top: 50%;
    margin-top: -9px;
    left: 50%;
    margin-left: -8px;
    .sprite-icon(-52px -52px);
    width: 16px;
    height: 17px;
    opacity: 1;
  }

  &:hover,
  &:focus,
  &:active {
    border-color: @primary;
  }

  &[disabled] {
    border-color: @gray-dark;
  }

  &[disabled]:before {
    opacity: 0.25;
  }

}

/*----------------- Entity types -----------------------------*/
.ui-entity {
  display: inline-block;
  border-radius: 2px;
  color: #fff !important;
  background-color: #000;
  padding: 1px 4px;
  font-style: normal;
  font-weight: bold;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2) inset;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4);
  vertical-align: middle;
  text-decoration: none;
  font-size: 13px;
  line-height: 20px;
  margin-right: 5px;

  &:hover {
    text-decoration: underline;
  }

  &.ui-entity-feature {
    #gradient > .vertical(#1c8300, #3c9225);
  }
  &.ui-entity-release {
    #gradient > .vertical(#888, #999);
  }
  &.ui-entity-iteration {
    #gradient > .vertical(#66aff0, #8ac0f0);
  }
  &.ui-entity-userstory {
    #gradient > .vertical(#507cb6, #6893cc);
  }
  &.ui-entity-bug {
    #gradient > .vertical(#cc060d, #e03339);
  }
  &.ui-entity-task {
    #gradient > .vertical(#191970, #0e2f5a);
  }
  &.ui-entity-request {
    #gradient > .vertical(#ffc600, #f8d55b);
    text-shadow: 0 1px 0 #d3b652;
  }
  &.ui-entity-impediment {
    #gradient > .vertical(#8a2125, #99262b);
  }
  &.ui-entity-testplan {
    #gradient > .vertical(#c7a503, #dbb704);
  }
  &.ui-entity-testplanrun {
    #gradient > .vertical(#a7743e, #af8151);
  }
  &.ui-entity-testcase {
    #gradient > .vertical(#dd7709, #e39643);
  }
  &.ui-entity-build {
    #gradient > .vertical(#336e6d, #449190);
  }

}

.entity .ui-entity,
.entity .entity-name {
  display: inline-block;
  vertical-align: middle;
}

a.entity-name-link {
  display: block !important;
}

.user-list {
  vertical-align: middle;
  display: inline-block;
  line-height: 0;
  font-size: 0;

  img {
    margin-right: 4px;
    display: inline-block;
  }

  .more {
    display: inline-block;
    vertical-align: middle;
    line-height: 20px;
    font-size: 11px;
    min-width: 8px;
    text-align: center;
    background-color: @gray;
    padding: 0 4px;
    margin-right: 4px;
  }
}

/*-------VIEW----------------*/
.overlay {
  background-color: rgba(0, 0, 0, 0.2);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 150;
}

@keyframes animate-customize-module-show {
  from {
    transform: translate3d(2300px, 0, 0);
  }
  to {
    transform: translate3d(320px, 0, 0);
  }
}

@-webkit-keyframes animate-customize-module-show {
  from {
    -webkit-transform: translate3d(2300px, 0, 0);
    opacity: 0;
  }
  to {
    -webkit-transform: translate3d(320px, 0, 0);
    opacity: 1;
  }
}

body.open-view {
  overflow: hidden;
}

body[state='list.branch'], body[state='list.branch.run'], body[state='list.branch.run.testCase'] {
  overflow: hidden;
  .view {
    -webkit-animation: animate-customize-module-show 100ms;
    animation: animate-customize-module-show 100ms;
  }
}

.view {
  position: fixed;
  z-index: 200;
  top: 46px;
  right: 0;
  bottom: 0;
  left: 320px;
  background-color: @gray-light;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.30);
  padding-left: 20px;

  &:after {
    content: '';
    display: block;
    background-color: @gray-dark;
    width: 1px;
    height: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 240px;
  }

  .info-table table {
    margin-bottom: 30px;

    th {
      background-color: darken(@gray-light, 2%);;
    }
  }

  h2 {
    line-height: 20px;
    font-size: 1;
    font-weight: normal;
    padding-bottom: 15px;
  }

  h3 {
    line-height: 1;
    font-size: 14px;
    text-transform: uppercase;
    padding-bottom: 15px;
  }

  &.common {
    padding: 20px 30px;
    max-height: 100%;
    overflow: auto;

    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;

    .info-table td a {
      color: @link-color;
      text-decoration: underline;

      &:hover {
        color: @link-hover-color;
        text-decoration: none;
      }

      &.txt-warning {
        color: @warning;
      }
    }

    &.common:after {
      display: none;
    }

  }
}

.action-panel {
  margin-right: 260px;
  height: 100%;
  position: relative;

  .caption {
    border-bottom: solid 1px @gray-dark;
    padding: 20px 20px 20px 0;
    white-space: nowrap;
    overflow: hidden;
    height: 22px;
    margin-bottom: 20px;

    h2 {
      display: inline-block;
      vertical-align: middle;
      padding: 0;
    }
  }

  .changes {
    color: @gray-light-txt;
  }

  .action-list {
    position: absolute;
    top: 82px;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: auto;

    .item {
      .clearfix;
      padding-bottom: 20px;
      padding-right: 5px;
    }

    .date, .avatar {
      float: left;
    }

    .date {
      width: 95px;
      white-space: nowrap;
      text-align: right;
      color: @gray-light-txt;
      margin-right: 20px;
    }

    .avatar {
      width: 32px;
      margin-right: 8px;

      img {
        border-radius: 15px;
      }

      .system {
        display: block;
        width: 30px;
        height: 30px;
        border-radius: 15px;
        .sprite-icon(-5px -45px);
        border: solid 1px rgba(0, 0, 0, 0.3);
      }

    }
    .description {
      margin-left: 160px;
      margin-right: 25px;
    }

    .description p {
      margin-bottom: 3px;
    }

    .panel-group {
      margin-top: 6px;
    }
  }

}

.info-panel {
  position: absolute;
  top: 0;
  right: 20px;
  width: 200px;
  padding: 20px 0;

  .item {
    margin-bottom: 20px;
  }

  h4 {
    text-transform: uppercase;
    font-size: 13px;
    margin-bottom: 3px;
    color: @gray-light-txt;
  }

  .btn {
    min-width: 135px;
  }

  .avatar {
    line-height: 0;
    display: inline-block;
    max-width: 100%;
    .text-overflow();
  }

  .avatar img, .avatar span {
    vertical-align: middle;
    font-size: 12px;
  }

  .avatar span {
    line-height: 20px;
    margin-left: 3px;
  }

  a.btn.status {
    padding-left: 33px;
  }
}

.main-preloader,
.view-preloader {
  position: absolute;
  top: 46px;
  left: 0;
  right: 0;
  bottom: 0;
  background: url(../images/loader.gif) center center no-repeat #fff;
  z-index: 200;
}

.view-preloader {
  top: 0;
  background-color: @gray-light;
  background-image: url(../images/loader2.gif);
}

.modal {
  background-color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 600px;
  height: 300px;
  border-radius: @radius;
  z-index: 300;
  margin: -150px 0 0 -300px;
  display: table;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.3);

  .modal-body {
    display: table-cell;
    padding: 20px;
    text-align: center;
    vertical-align: middle;
  }

  h3 {
    font-size: 20px;
    font-weight: normal;
    margin-bottom: 40px;
  }
}

.tests-results {

  overflow: hidden;
  padding-bottom: 30px;
  line-height: 20px;

  .info {
    float: left;
    font-size: 20px;
    padding-bottom: 15px;

    span {
      font-size: 14px;
    }
  }

  .time {
    float: right;
    color: @gray-light-txt;
    padding-bottom: 15px;
  }

  .line {
    height: 4px;
    clear: both;
    background-color: @success;
    border-radius: @radius;
    overflow: hidden;

    & > div {
      float: left;
      height: 4px;
      border-right: solid 1px @gray;
      .box-sizing(border-box)
    }

    .failed {
      background-color: @warning;
    }

    .skipped {
      background-color: #ffbc00;
    }
  }

  .logs {
    float: right;
    margin: 0 10px;
  }

  .view-in-jenkins {
    float: right;
  }
}

.test-info {
  line-height: 20px;
  padding-bottom: 20px;

  .time {
    color: @gray-light-txt;
  }
}

.test-screenshots {
  cursor: pointer;
}

.status-bar {
  position: fixed;
  z-index: 9999;
  left: 45%;
  right: 45%;
  top: 0;
  text-align: center;
  background: #fff;
}

.dropdown:focus {
  outline: none;
}

.statistics-link {
  &:hover {
    .dropdown-menu {
      display: block;
      top: 21px;
    }
  }
  .dropdown-menu {
    max-width: none;
    display: none;
    li {
      display: block;
      float: none;
      padding: 0 5px;
    }
  }
  position: relative;
  > a {
    cursor: pointer;
    display: block;
  }
}

/* Restyling */

.header {
  padding: 12px 20px;
  display: flex;
  position: relative;
  align-items: flex-start;
  min-width: 900px;
}

.header .logo {
  position: relative;
  top: 8px;
  flex-shrink: 0;
  float: none;
}

.header__menu {
  flex: 1 1 auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.header__links {
  flex: 1 0 auto;
  position: relative;
  top: 11px;
}

.header__links > .links > li > a,
.header__links > .links > li > .user-name {
  display: inline-block;
  height: 24px;
  line-height: normal;
}

.header__links > .links > .statistics-link > a {
  display: inline-block;
  padding: 0;
}

.navigation {
  float: left;
  position: relative;
  top: 0;
  padding-top: 20px;
}

.main {
  padding-top: 20px;
}

.header .global-status:first-child {
  margin-left: 10px;
}

.header .global-status > span {
  display: block;
}

.header .external-component-status {
  padding: 0 10px;
  margin: 10px 0;
  display: inline-block;
}

.header .external-component-status:last-child {
  padding-right: 0;
}