body {
  padding-top: 50px;
}

@media (min-width: 1600px) {
  .container {
    max-width: 100%;
  }
}

.starter-template {
  text-align: center;
}

.final-state {
  color: red
}

/* Role avatar */
.ui-role {
  margin: 2px 0px;
  display: inline-block;

  &.ui-role-active-false {
    opacity: .3
  }
}

.role-users {
  min-width: 108px;
}

.btn-group-stretch {
  width: 100%;
  .btn {
    width: 100%
  }
}

.btn-stretch {
  width: 100%;
}

.table td {
  vertical-align: middle;
}

/* Dialog */
@dialogZIndex: 10000;

.ui-widget-overlay.ui-front {
  background: none repeat scroll 0 0 black;
  height: 100%;
  left: 0;
  opacity: 0.6;
  position: fixed;
  text-align: center;
  top: 0;
  width: 100%;
  z-index: @dialogZIndex;
}

.ui-dialog {
  z-index: (@dialogZIndex+1)
}

/*----------------- Entity types -----------------------------*/

.ui-entity {
  font-family: Helvetica, Arial, sans-serif;
  display: inline-block;
  border-radius: 3px;
  color: #fff;
  letter-spacing: 0;
  background: #000;
  padding: 2px 4px;
  text-transform: uppercase;
  font-style: normal;
  font-weight: bold;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2) inset;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4);

  &:hover {
    text-decoration-color: white;
    color: #fff
  }

  .ui-entity-color(@first, @second) {
    background: @first !important;
    background: -moz-linear-gradient(top, @second 0, @first 100%) !important;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, @second), color-stop(100%, @first)) !important
  }

  &.ui-entity-feature {
    .ui-entity-color(#1c8300, #3c9225);
  }
  &.ui-entity-release {
    .ui-entity-color(#888, #999);
  }
  &.ui-entity-iteration {
    .ui-entity-color(#66aff0, #8ac0f0);
  }
  &.ui-entity-userstory {
    .ui-entity-color(#507cb6, #6893cc);
  }
  &.ui-entity-bug {
    .ui-entity-color(#cc060d, #e03339);
  }
  &.ui-entity-task {
    .ui-entity-color(#191970, #0e2f5a);
  }
  &.ui-entity-request {
    .ui-entity-color(#ffc600, #f8d55b);
    text-shadow: 0 1px 0 #f8d55b !important;
  }
  &.ui-entity-impediment {
    .ui-entity-color(#8a2125, #99262b);
  }
  &.ui-entity-testplan {
    .ui-entity-color(#c7a503, #dbb704);
  }
  &.ui-entity-testplanrun {
    .ui-entity-color(#a7743e, #af8151);
  }
  &.ui-entity-testcase {
    .ui-entity-color(#dd7709, #e39643);
  }
  &.ui-entity-build {
    .ui-entity-color(#336e6d, #449190);
  }

}

/*sortable*/

table.sortable {
  span.arrow {
    border-style: solid;
    border-width: 5px;
    display: block;
    position: absolute;
    top: 50%;
    right: 5px;
    font-size: 0;
    border-color: #ccc transparent transparent transparent;
    line-height: 0;
    height: 0;
    width: 0;
    margin-top: -2px;
    &.up {
      border-color: transparent transparent #ccc transparent;
      margin-top: -7px;
    }
  }
  thead {
    th {
      cursor: pointer;
      position: relative;
      top: 0;
      left: 0;
      &:hover {
        background: #efefef;
      }
    }
  }
}

.nav a {
  cursor: pointer;
}

.nav a.active {
  cursor: default;
  text-decoration: none;
  background-color: #eee;
}

.loader {
  background:url("../images/ajax-loader.gif") no-repeat center center;
  height: 35px;
  width: 100%;
}

.branch-name {
  max-width: 40%;
}

@baseBorderRadius: 5px;
@grayLighter: rgb(240,240,240);
@grayLight: rgb(200,200,200);
@gray: rgb(150,150,150);

.tree {
  a {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 90%;
  }
  li {
    list-style-type: none;
    margin: 0px 0;
    padding: 4px 0px 0px 2px;
    position: relative;
    &::before, &::after {
      content: '';
      left: -20px;
      position: absolute;
      right: auto;
    }
    &::before {
      border-left: 1px solid @grayLight;
      bottom: 50px;
      height: 100%;
      top: 0;
      width: 1px;
    }
    &::after {
      border-top: 1px solid @grayLight;
      height: 20px;
      top: 13px;
      width: 23px;
    }
    .node {
      -moz-border-radius: 5px;
      -webkit-border-radius: 5px;
      border: 1px solid @grayLight;
      border-radius: 5px;
      display: inline-block;
      line-height: 14px;
      padding: 2px 4px;
      text-decoration: none;
    }
    &.parent_li > .node {
      cursor: pointer;
      /*Time for some hover effects*/
      &:hover, &:hover+ul li span {
        background: @grayLighter;
        border: 1px solid @gray;
        color: #000;
      }
    }
    /*Remove connectors after last child*/
    &:last-child::before {
      height: 14px;
    }
  }
  /*Remove connectors before root*/
  > ul > li::before, > ul > li::after {
    border: 0;
  }
}

.icon(@url) {
  background:url(@url);
  background-size: 16px 16px;
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;

  width: 16px;
  height: 16px;
}

.external {
  position: relative;
  padding-left: 18px;
  &.tpIcon:before{
    .icon('//plan.tpondemand.com/favicon.ico');
  }
  &.github:before{
    .icon('//github.com/favicon.ico');
  }
  &:after{
    .icon('../images/external.png');
    left:100%;
  }
}



.btn-group-vertical.btn-group-alignment-left .btn {
  text-align: left;
}