@import "variables.less";
@import "mixins.less";

.tree {

  .title {
    border-radius: 2px;
    line-height: 14px;
    padding: 2px 0 0 2px;
    font-size: 12px;
    display: inline-block;
    margin: 1px;

    transition: max-width 0.5s; /* Animation time */
    -webkit-transition: max-width 0.5s; /* For Safari */

    &.in_progress {
      background: @tree-in-progress;
    }
    &.warning {
      background: @tree-warning;
    }
    &.success {
      background: @tree-success;
    }
    &.timed_out {
      background: @tree-timed-out;
    }
    &.default {
      background: @tree-default;
    }

    a {
      padding: 2px 8px;
      display: block;
      color: white;
    }
  }

  .children {
    margin-left: 20px;
  }
  .node.inline {
    display: inline-block;
  }

  .lots-children > .node > .title.collapsible {
    max-width: 8px;
    &:hover {
      max-width: 200px;
    }
  }
}

