@(branches: Iterable[models.Branch])(implicit request: RequestHeader)

@import models.Entity


<div class="container">

    <table class="table sortable table-striped table-condensed">
        <thead>
            <tr>
                <th>Pull Request</th>
                <th data-defaultsort="asc">Branch</th>
                <th>Name</th>
                <th>Users</th>
                <th>State</th>
            </tr>
        </thead>
        <tbody>
        @for(branch <- branches) {
            <tr>
                <td>@branch.pullRequest match {
                    case Some(pr) => {
                        <a class="btn btn-default pull-request" data-id="@pr.id" href="@pr.url">#@pr.id</a>
                    }
                    case None => {}
                }
                </td>
                <td>@branch.name</td>
                @branch.entity match {
                    case Some(entity) => {
                        <td><small>@entity.name</small></td>
                        <td data-value="@entity.sortedAssignments.map(_.lastName).mkString(" ")">
                            @for(assignment <- entity.sortedAssignments) {
                                <span class="role role-@assignment.role.toLowerCase.replace(" ","")"><img data-src="holder.js/100%x180" src="@{
                                    assignment.avatar
                                }30"
                                title="@assignment.role: @assignment.fullName">
                                    </span>
                                }
                        </td>
                        <td data-value="@if(entity.state.isFinal){1}else{0}@entity.state.name">
                            <div class="btn-group">
                                <button type="button" class="btn @if(entity.state.isFinal) {btn-warning} else {btn-default} dropdown-toggle" data-toggle="dropdown">
                                    @entity.state.name
                                <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu">
                                @for(nextState <- entity.state.nextStates.get) {
                                    <li><a href="#">@nextState.name</a></li>
                                }
                                </ul>
                            </div>
                        </td>
                    }
                    case None => {
                        <td></td>
                        <td></td>
                        <td></td>
                    }
                }
            </tr>
        }
        </tbody>
    </table>
</div><!-- /.container -->
<script>
    $ ('.pull-request' ).each(function(){
        var $a = $(this);
    var id = $a.data('id');
        if (id){
            jsRoutes.controllers.Github.pullRequestStatus(id).ajax().done(function(resp){
                var isMerged = resp.isMerged;
                var isMergeable = resp.isMergeable;
                $a.removeClass('btn-default');
                if (isMerged){
                    $a.addClass('btn-primary');
                } else if (isMergeable){
                    $a.addClass('btn-success');
                } else {
                    $a.addClass('btn-danger');
                }
            });
        }
    })
</script>