@(branches: Iterable[models.Branch])(implicit request: RequestHeader)


@import components.entityState
@import components.pullRequest
@import components.users

    @buildStatus(branch: Branch) = @{
        branch.builds match {
            case head :: _ =>
                head.result match {
                    case BuildResult.SUCCESS => "success"
                    case BuildResult.FAILURE => "danger"
                    case _ => "warning"
                }
            case _ => ""
        }
    }

<div class="role-branch-list container">
    <table class="table sortable table-condensed">
        <thead>
            <tr>
                <th>PR</th>
                <th>Branch</th>
                <th>Jenkins</th>
                <th>Name</th>
                <th>Users</th>
                <th data-defaultsort="asc">State</th>
            </tr>
        </thead>
        <tbody>
        @for(branch <- branches) {
            <tr class="role-branch @buildStatus(branch)" data-entity-id="@branch.entity.map(_.id)">
                @pullRequest(branch.pullRequest)
            <td><a href="https://github.com/TargetProcess/TP/tree/@branch.name" target="_blank">@branch.name</a></td>
            <td>@branch.builds.headOption.map{ build =>
                <a class="btn btn-@buildStatus(branch)" href="http://srv5/Home/Branch?id=@branch.name">@build.number</a>
            }
            </td>
                @branch.entity match {
                    case Some(entity) => {
                        <td><a href="@entity.url" target="_blank" class="ui-entity ui-entity-@entity.entityType.toLowerCase()">@entity.id</a> @entity.name</td>
                        @users(entity.sortedAssignments)
                        @entityState(entity.id, entity.state)
                    }
                    case None => {
                        <td></td>
                        <td></td>
                        <td></td>
                    }
                }
            </tr>
        }
        </tbody>
    </table>
</div><!-- /.container -->
<div class="role-create-pull-request-dialog"></div>

