@(user: User)(implicit request: RequestHeader)
    @sidebar = {
        <script>
            window.currentUser = {id:@user.tpId};
        </script>
        <ul class="nav nav-pills nav-stacked">
            <li>
                <a ng-click="resetFilterBranch()" class="{{isShowingAll | activeFilter}}">All branches
                    <span class="badge  pull-right">{{allBranches.length}}</span>
                </a>
            </li>
            <li>
                <a ng-click="filterOnlyEntityBranch()" class="{{isShowingEntity | activeFilter}}">Entity branches
                    <span class="badge  pull-right">{{entityBranchesLength}}</span>
                </a>
            </li>
            <li>
                <a class="navigation {{isShowingId == @user.tpId | activeFilter}}" ng-click="filterBranch(@user.tpId)" data-href="user=loggedUser.tpId">
                    My branches
                    <span class="badge pull-right">{{branchCount(@user.tpId)}}</span>
                </a>
            </li>
            <hr>
            <li ng-repeat="user in users | orderBy:'firstName+lastName'">
                <a class="{{isShowingId == user.userId | activeFilter}}" ng-click="filterBranch(user.userId)"><img ng-src="{{user.avatar}}30"> {{user.firstName}} {{user.lastName}}
                    <span class="badge pull-right">{{branchCount(user.userId)}}</span>
                </a>
            </li>
        </ul>
    }

@main("Build board", Some(user), sidebar = sidebar) {
    <div >
        <table class="table sortable table-condensed">
            <thead>
                <tr class="header">
                    <th ng-click="predicate='pullRequest.id'; reverse=!reverse">
                        PR
                        <span ng-class="{arrow:predicate == 'pullRequest.id', up:reverse}"></span>
                    </th>
                    <th ng-click="predicate='name'; reverse=!reverse" ng-class="{sort:predicate == 'name', reverse:reverse}">
                        Branch
                        <span ng-class="{arrow:predicate == 'name', up:reverse}"></span>
                    </th>
                    <th ng-click="predicate='entity.id'; reverse=!reverse" ng-class="{sort:predicate == 'entity.id', reverse:reverse}">
                        Name
                        <span ng-class="{arrow:predicate == 'entity.id', up:reverse}"></span>
                    </th>
                    <th>Users</th>
                    <th>State</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="branch in branches | orderBy:predicate:reverse">
                    <td>
                        <div ng-controller="pullRequestController" ng-show="branch.pullRequest" class="btn-group btn-group-stretch">
                            <a target="_blank" href="{{branch.pullRequest.url}}" class="btn btn-default {{getClass(pullRequestStatus)}}" >
                                #{{branch.pullRequest.id}}</a>
                        </div>
                    </td>
                    <td>{{branch.name}}</td>
                    <td>
                        <div ng-show="branch.entity">
                            <a href="{{branch.entity.url}}" target="_blank" class="ui-entity ui-entity-{{branch.entity.entityType.toLowerCase()}}">
                                #{{branch.entity.id}}</a> {{branch.entity.name}}
                        </div>
                    </td>
                    <td>
                        <div ng-show="branch.entity">
                            <span ng-repeat="assignment in branch.entity.assignmentsOpt" class="ui-role ui-role-active-{{assignment.isResponsible}}">
                                <img ng-src="{{assignment.avatar}}30" title="{{assignment.role}}: {{assignment.firstName}} {{assignment.lastName}}">
                            </span>
                        </div>
                    </td>
                    <td>
                        <div ng-show="branch.entity">
                        </div>
                    </td>
                    <td>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
}
