@(myForm: Form[User])(implicit request:RequestHeader)

@import helper.twitterBootstrap._

@styles = {
    <link rel="stylesheet" href='@routes.Assets.at("/stylesheets/login.css")'>
}

@main("Login to BuildBoard", styles=styles, hasNavBar=false){
	@helper.form(action = routes.Login.submit, 'class -> "form-signin") {
	    <h2 class="form-signin-heading">Please sign in</h2>
	    @helper.inputText(myForm("login"), 'class-> "form-control", 'autofocus->true, '_label -> "Login")
	    @helper.inputPassword(myForm("password"), 'class-> "form-control", '_label -> "Password")
	    @helper.checkbox(myForm("remember"), '_label -> "Remember me")
    	<button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
    }
}
