@(loginForm: Form[Login.UserCredentials], error: Option[String] = None)(implicit request: RequestHeader, messages: Messages)

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Welcome 2 Buildboard</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="Description" content="Targetprocess Buildboard.">
        <meta name="theme-color" content="#3E414A"/>
        <link rel="stylesheet" href='@routes.Assets.at("javascripts/bower_components/bootstrap/dist/css/bootstrap.css")'>
        <link rel="stylesheet" href='@routes.Assets.at("stylesheets/login.css")'>
        <link rel="shortcut icon" href='@routes.Assets.at("images/favicon.ico")'>
    </head>
    <body>

    @helper.form(action = routes.Login.submit(), 'class -> "form-signin") {
        <h2 class="form-signin-heading">Please sign in</h2>
        @helper.inputText(loginForm("login"), 'class -> "form-control", 'autofocus -> true, '_label -> "Login")
        @helper.inputPassword(loginForm("password"), 'class -> "form-control", '_label -> "Password")
        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
        @if(error.isDefined){
            <p class="text-danger">@error.get</p>
        }
    }
    </body>
</html>