@(title: String, user: Option[User], styles: Html = Html(""), sidebar: Html = Html(""))(content: Html)(implicit request: RequestHeader)

@import components.navigationBar

<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href='@routes.Assets.at("javascripts/bower_components/bootstrap/dist/css/bootstrap.css")'>
        <link rel="stylesheet" href='@routes.Assets.at("stylesheets/main.css")'>

        @styles

        @helper.javascriptRouter("jsRoutes")(
            routes.javascript.Application.branches,
            routes.javascript.Application.branch,
            routes.javascript.Github.pullRequestStatus,
            routes.javascript.Jenkins.forceBuild,
            routes.javascript.Jenkins.lastBuildInfos,
            routes.javascript.Jenkins.builds
        )

        <script src='@routes.Assets.at("javascripts/bower_components/jquery/jquery.min.js")'></script>
        <script src='@routes.Assets.at("javascripts/bower_components/bootstrap/dist/js/bootstrap.js")'></script>
        <script src='@routes.Assets.at("javascripts/bower_components/angular/angular.js")'></script>
        <script src='@routes.Assets.at("javascripts/bower_components/angular-route/angular-route.js")'></script>
        <script src='@routes.Assets.at("javascripts/bower_components/underscore/underscore.js")'></script>
        <script src='@routes.Assets.at("javascripts/bower_components/angular-underscore/angular-underscore.js")'></script>

        <script src='@routes.Assets.at("javascripts/ui-bootstrap-0.7.0.min.js")'></script>
        <script src='@routes.Assets.at("javascripts/ui-bootstrap-tpls-0.7.0.min.js")'></script>

        <script src='@routes.Assets.at("javascripts/all.js")'></script>
    </head>
    <body ng-app="buildBoard">

        @user.map { u =>
            <div class="container">@navigationBar(u)</div>
        }

        <div class="container" ng-view>
        </div>
    </body>
</html>
