@(title: String, user: Option[User])(content: Html)(implicit request: RequestHeader)

<!DOCTYPE html>
<html>
    <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="shortcut icon" href='@routes.Assets.at("images/favicon.ico")'>
    <link href='//fonts.googleapis.com/css?family=Roboto:400,700&subset=latin,cyrillic-ext' rel='stylesheet'
          type='text/css'>
    <link rel="stylesheet" href='@routes.Assets.at("stylesheets/bootstrap.css")'>
    <link rel="stylesheet" href='@routes.Assets.at("javascripts/bower_components/jsoneditor/dist/jsoneditor.min.css")'>



        @helper.javascriptRouter("jsRoutes")(
            routes.javascript.Branches.branches,
            routes.javascript.Config.getConfig,
            routes.javascript.Config.setConfig,
            routes.javascript.Branches.activities,
            routes.javascript.Targetprocess.changeEntityState,
            routes.javascript.Jenkins.build,
            routes.javascript.Jenkins.buildActions,
            routes.javascript.Jenkins.lastBuilds,
            routes.javascript.Jenkins.forceBuild,
            routes.javascript.Jenkins.toggleBuild,
            routes.javascript.Jenkins.deployBuild,
            routes.javascript.Jenkins.run,
            routes.javascript.Jenkins.testCase,
            routes.javascript.Jenkins.artifact,
            routes.javascript.Login.logout,
            routes.javascript.Login.updateInfo,
            routes.javascript.Github.merge
        )

        @user.map { u =>
        <script>
            loggedUser = {
                userId: @u.tpId,
                fullName: '@u.fullName',
                slackName: '@u.slackName'
            };
        </script>
        }

        <script src='@routes.Assets.at("javascripts/bower_components/angular/angular.js")'></script>
        <script src='@routes.Assets.at("javascripts/bower_components/underscore/underscore.js")'></script>
        <script src='@routes.Assets.at("javascripts/bower_components/checklist-model/checklist-model.js")'></script>
        <script src='@routes.Assets.at("javascripts/bower_components/angular-underscore/angular-underscore.js")'></script>
        <script src='@routes.Assets.at("javascripts/bower_components/angular-ui-router/release/angular-ui-router.js")'></script>
        <script src='@routes.Assets.at("javascripts/bower_components/angular-sanitize/angular-sanitize.min.js")'></script>
        <script src='@routes.Assets.at("javascripts/bower_components/showdown/compressed/Showdown.min.js")'></script>
        <script src='@routes.Assets.at("javascripts/bower_components/angular-markdown-directive/markdown.js")'></script>
        <script src='@routes.Assets.at("javascripts/bower_components/jsoneditor/dist/jsoneditor.min.js")'></script>
        <script src='@routes.Assets.at("javascripts/bower_components/ng-jsoneditor/ng-jsoneditor.js")'></script>

        <script src='@routes.Assets.at("javascripts/all.js")'></script>

    </head>
    @content
</html>
