@(title: String, user: Option[User], styles: Html = Html(""), sidebar: Html = Html(""))(content: Html)(implicit request: RequestHeader)

@import components.navigationBar

<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">
        <link rel="stylesheet" href='@routes.Assets.at("stylesheets/main.css")'>

        @styles

        @helper.javascriptRouter("jsRoutes")(
            routes.javascript.Application.branches,
            routes.javascript.Github.pullRequestStatus
        )

        <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.8/angular.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.5.2/underscore-min.js"></script>
        <script src="@routes.Assets.at("javascripts/libs/ui-bootstrap-tpls-0.6.0.js")"></script>
        <script src="@routes.Assets.at("javascripts/libs/angular-underscore.js")"></script>
        <script src="@routes.Assets.at("javascripts/app/filters.js")"></script>
        <script src="@routes.Assets.at("javascripts/app/app.js")"></script>
    </head>
    <body ng-app="BuildBoard">

        @user.map { u =>
            <div class="container">@navigationBar(u)</div>
        }

        <div class="container">
            <div ng-controller="BranchesController" class="row">
                <div class="col-lg-2">@sidebar</div>
                <div class="col-lg-10">@content</div>
            </div>
        </div>
    </body>
</html>
