@(user: User)(implicit request:RequestHeader)

@import models.GitHubApplication
<div class="navbar navbar-default">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="@routes.Application.index()">Build Board</a>
    </div>
    <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-right">
            @user.githubToken match {
                case Some(token) =>{ token }
                case None => {
                    <li><button type="button" class="btn btn-default navbar-btn login-to-github">Login to GitHib</button></li>
                    <li><button type="button" class="btn btn-default navbar-btn">Login to TP</button></li>
        </ul>
        <script>
            $(function(){
                var $login = $('.login-to-github');
                $login.click(function(){
                    window.open('https://github.com/login/oauth/authorize?client_id=@GitHubApplication.clientId&scope=repo&redirect_uri=@routes.Login.oauth().absoluteURL(false)', '', 'popup');
                });
            });
        </script>
    </div>
</div>
